<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.equipment.ControlBoxMapper">

    <select id="getPage" resultType="com.dzkj.entity.equipment.ControlBox">
        select cb.*,
               u.name as creator, pm.name as missionName, pj.name as projectName
        from control_box cb
        left join user u on u.id = cb.create_id
        left join pro_mission pm on pm.id = cb.mission_id
        left join project pj on pj.id = cb.project_id
        where cb.mission_id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        order by cb.create_time desc
    </select>

    <select id="getList" resultType="com.dzkj.entity.equipment.ControlBox">
        select cb.*,
               u.name as creator, pm.name as missionName, pj.name as projectName
        from control_box cb
        left join user u on u.id = cb.create_id
        left join pro_mission pm on pm.id = cb.mission_id
        left join project pj on pj.id = cb.project_id
        where cb.mission_id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        order by cb.create_time desc
    </select>

    <select id="getSurveyRecordInfoByControlBoxId" resultType="com.dzkj.entity.survey.RobotSurveyRecord">
        select cb.serial_no, cb.mission_id as missionId, pm.name as missionName
        from control_box cb
        left join pro_mission pm on pm.id = cb.mission_id
        where cb.id = #{controlBoxId}
    </select>

</mapper>
