<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.system.OnlineMapper">

    <select id="getOnlineUserIds" resultType="java.lang.Long" parameterType="java.lang.Long">
        select distinct u.id
        from online o
        left join user u on u.username = o.username
        <where>
            <if test="companyId > 0">
                o.company_id = #{companyId}
            </if>
        </where>
    </select>

</mapper>
