<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.project.ProjectMapper">

    <select id="getPage" resultType="com.dzkj.entity.project.Project">
        select p.*, pt.name as type, u.name as creator from project p
        left join project_type pt on pt.id=p.type_id
        left join user u on u.id=p.create_id
        where p.company_id = #{cond.companyId}
        and p.id in
        <foreach collection="cond.projectIds" index="index" item="item"
                             separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.name != null and cond.name != ''">
            <bind name="pattern" value="'%'+cond.name+'%'"/>
            and p.name like #{pattern}
        </if>
        <if test="cond.typeId != null and (cond.name == null or cond.name == '')">
            and p.type_id = #{cond.typeId}
        </if>
        <if test="cond.finished != null">
            and p.finished = #{cond.finished}
        </if>
        <if test="cond.createTime != null">
            and p.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        order by p.create_time desc
    </select>

    <select id="getList" resultType="com.dzkj.entity.project.Project">
        select p.*, pt.name as type, u.name as creator from project p
        left join project_type pt on pt.id=p.type_id
        left join user u on u.id=p.create_id
        where p.company_id = #{cond.companyId}
        and p.id in
        <foreach collection="cond.projectIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.name != null and cond.name != ''">
            <bind name="pattern" value="'%'+cond.name+'%'"/>
            and p.name like #{pattern}
        </if>
        <if test="cond.typeId != null and (cond.name == null or cond.name == '')">
            and p.type_id = #{cond.typeId}
        </if>
        <if test="cond.finished != null">
            and p.finished = #{cond.finished}
        </if>
        <if test="cond.createTime != null">
            and p.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        order by p.create_time desc
    </select>

</mapper>
