<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.project.ProMissionMapper">

    <select id="getPage" resultType="com.dzkj.entity.project.ProMission">
        select pm.*, pj.name as projectName,
               mt.name as type, mt.p_name as ptype, mt.type as typeName,
               u.name as creator
        from pro_mission pm
        left join project pj on pm.project_id=pj.id
        left join monitor_type mt on pm.type_id=mt.id
        left join user u on u.id=pm.create_id
        where pm.id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.name != null and cond.name != ''">
            <bind name="pattern" value="'%'+cond.name+'%'"/>
            and pm.name like #{pattern}
        </if>
        <if test="cond.type != null and cond.type != ''">
            <bind name="pattern2" value="'%'+cond.type+'%'"/>
            and mt.name like #{pattern2}
        </if>
        <if test="cond.finished != null">
            and pm.finished = #{cond.finished}
        </if>
        <if test="cond.createTime != null">
            and pm.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        order by pm.project_id desc, pm.idx desc
    </select>

    <select id="queryList" resultType="com.dzkj.entity.project.ProMission">
        select pm.*, pj.name as projectName,
               mt.name as type, mt.p_name as ptype, mt.type as typeName,
               u.name as creator
        from pro_mission pm
        left join project pj on pm.project_id=pj.id
        left join monitor_type mt on pm.type_id=mt.id
        left join user u on u.id=pm.create_id
        where pm.id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.name != null and cond.name != ''">
            <bind name="pattern" value="'%'+cond.name+'%'"/>
            and pm.name like #{pattern}
        </if>
        <if test="cond.type != null and cond.type != ''">
            <bind name="pattern2" value="'%'+cond.type+'%'"/>
            and mt.name like #{pattern2}
        </if>
        <if test="cond.finished != null">
            and pm.finished = #{cond.finished}
        </if>
        <if test="cond.createTime != null">
            and pm.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        order by pm.project_id desc, pm.idx desc
    </select>

    <select id="getList" resultType="com.dzkj.entity.project.ProMission" parameterType="java.lang.Long">
        select
        pm.id as id,
        pm.name as name ,
        mt.name as type,
        mt.p_name as ptype,
        mt.type as typeName,
        pm.value_unit as valueUnit,
        pm.delt_unit as deltUnit,
        pm.emp_manager as empManager,
        pm.emp_observe as empObserve,
        pm.emp_calculate as empCalculate,
        pm.emp_review as empReview,
        pm.equip_name as equipName,
        pm.equip_no as equipNo
        from pro_mission pm
        left join monitor_type mt on pm.type_id=mt.id
        where pm.project_id = #{projectId}
        order by pm.idx desc
    </select>

    <select id="findById" resultType="com.dzkj.entity.project.ProMission" parameterType="java.lang.Long">
        select pm.*, pj.name as projectName ,mt.name as type, mt.p_name as ptype,mt.type as typeName
        from pro_mission pm
        left join project pj on pm.project_id=pj.id
        left join monitor_type mt on pm.type_id=mt.id
        where pm.id = #{missionId}
    </select>

    <select id="getList2" resultType="com.dzkj.entity.project.ProMission">
        select pm.* ,mt.name as type, mt.p_name as ptype,mt.type as typeName
        from pro_mission pm
        left join monitor_type mt on pm.type_id=mt.id
        where pm.id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        order by pm.idx desc
    </select>


    <select id="getListInProjIds" resultType="com.dzkj.entity.project.ProMission">
        select pm.* ,mt.name as type, mt.p_name as ptype,mt.type as typeName
        from pro_mission pm
        left join monitor_type mt on pm.type_id=mt.id
        where pm.project_id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        order by pm.idx desc
    </select>

    <select id="getMissionInCompany" resultType="com.dzkj.entity.project.ProMission">
        select pm.id,pm.name
        from pro_mission pm
        left join monitor_type mt on mt.id = pm.type_id
        left join project p on p.id = pm.project_id
        where p.company_id = #{companyId}
          and mt.type = "全站仪自动监测(XYZ)"
          and pm.id not in (select pt.mission_id from push_task pt where pt.mission_id != #{missionId})
    </select>

    <select id="getMissionOtherInCompany" resultType="com.dzkj.entity.project.ProMission">
        select pm.id,pm.name
        from pro_mission pm
                 left join monitor_type mt on mt.id = pm.type_id
                 left join project p on p.id = pm.project_id
        where p.company_id = #{companyId}
          and mt.type = "全站仪自动监测(XYZ)"
          and pm.id not in (select pt.mission_id from push_task_other pt where pt.mission_id != #{missionId})

    </select>
</mapper>
