<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.param_set.PtGroupMapper">

    <select id="getList" resultType="com.dzkj.entity.param_set.PtGroup">
        select ptg.* , p.name as projectName, pm.name as missionName
        from pt_group ptg
            left join pro_mission pm on ptg.mission_id = pm.id
            left join project p on pm.project_id = p.id
        where ptg.mission_id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        and (ptg.id in (
            select distinct pg.pt_group_id from project_group pg
            inner join user_group ug on ug.group_id = pg.group_id and ug.user_id = #{cond.userId}
            where pg.pt_group_id is not null and pg.project_id is null
            ))
        order by ptg.create_time desc
    </select>

    <select id="getPage" resultType="com.dzkj.entity.param_set.PtGroup">
        select ptg.* , p.name as projectName, pm.name as missionName
        from pt_group ptg
            left join pro_mission pm on ptg.mission_id = pm.id
            left join project p on pm.project_id = p.id
        where ptg.mission_id in
        <foreach collection="cond.missionIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        and (ptg.id in (
        select distinct pg.pt_group_id from project_group pg
        inner join user_group ug on ug.group_id = pg.group_id and ug.user_id = #{cond.userId}
        where pg.pt_group_id is not null and pg.project_id is null
        ))
        order by ptg.create_time desc
    </select>

    <select id="findByProjectId" resultType="com.dzkj.entity.param_set.PtGroup">
        select ptg.id,
               ptg.alarm_receive_ids,
               ptg.alarm_distribute_ids
        from pt_group ptg
        where ptg.mission_id in (select m.id from pro_mission m where m.project_id = #{projectId})
        <if test="missionId != null">
            and ptg.mission_id = #{missionId}
        </if>
    </select>

</mapper>
