<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.param_set.PtStopMapper">
    <select id="getPage" resultType="com.dzkj.biz.data.vo.PtStopVO">
        select ps.*, pt.name as pointName, pg.name as groupName, pm.name as missionName, pj.name as projectName
        from pt_stop ps
        left join point pt on pt.id = ps.point_id
        left join pt_group pg on pg.id = pt.pt_group_id
        left join pro_mission pm on pm.id = pg.mission_id
        left join project pj on pj.id = pm.project_id
        where pm.id = #{cond.missionId}
        and pg.id in
        <foreach collection="cond.groupIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.groupId != null">
            and pg.id =  #{cond.groupId}
        </if>
        <if test="cond.pointId != null">
            and pt.id =  #{cond.pointId}
        </if>
        <if test="cond.createTime != null">
            and ps.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        <if test="cond.reason != null and cond.reason != ''">
            <bind name="pattern" value="'%'+cond.reason+'%'"/>
            and ps.reason like #{pattern}
        </if>
        order by ps.create_time desc
    </select>

    <select id="getList" resultType="com.dzkj.biz.data.vo.PtStopVO">
        select ps.*, pt.name as pointName, pg.name as groupName, pm.name as missionName, pj.name as projectName
        from pt_stop ps
        left join point pt on pt.id = ps.point_id
        left join pt_group pg on pg.id = pt.pt_group_id
        left join pro_mission pm on pm.id = pg.mission_id
        left join project pj on pj.id = pm.project_id
        where pm.id = #{cond.missionId} and ps.deleted = 0
        and pg.id in
        <foreach collection="cond.groupIds" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="cond.groupId != null">
            and pg.id =  #{cond.groupId}
        </if>
        <if test="cond.pointId != null">
            and pt.id =  #{cond.pointId}
        </if>
        <if test="cond.createTime != null">
            and ps.create_time <![CDATA[ >= ]]> #{cond.createTime}
        </if>
        <if test="cond.reason != null and cond.reason != ''">
            <bind name="pattern" value="'%'+cond.reason+'%'"/>
            and ps.reason like #{pattern}
        </if>
        order by ps.create_time desc
    </select>
</mapper>
