<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.data.PushTaskOtherMapper">

    <select id="queryList" resultType="com.dzkj.entity.data.PushTaskOther">
        select pto.*, pm.name as missionName
        from push_task_other pto
        left join pro_mission pm on pto.mission_id = pm.id
        where pto.company_id = #{companyId}
    </select>
</mapper>
