<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.system.ResourceMapper">

    <select id="findByRoleId" resultType="com.dzkj.entity.system.Resource">
        select distinct r.* from resource r
        left join role_resource rr on rr.resource_id = r.id
        where r.white_url = true or rr.role_Id = #{roleId}
        order by r.index
    </select>

</mapper>
