<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.system.UserMapper">

    <select id="getList" resultType="com.dzkj.biz.system.vo.UserVO" parameterType="java.lang.Long">
        select u.*, r.name as roleName
        from user u
        left join role r on r.id = u.role_id
        where u.company_id != 0 and u.username != 'admin'
        <if test="companyId != 0">
            and u.company_id = #{companyId}
        </if>
        order by u.create_time desc
    </select>

    <select id="getListUser" resultType="com.dzkj.biz.system.vo.UserVO">
        select distinct u.*, r.name as roleName, (select count(*) from user_group where group_id=#{groupId} and user_id=u.id) as checked
        from user u
        left join role r on r.id = u.role_id
        left join user_group ug on ug.user_id = u.id
        where u.company_id = #{companyId}
        order by u.create_time desc
    </select>

    <select id="getSuperList" resultType="com.dzkj.biz.system.vo.UserVO">
        select u.*, r.name as roleName
        from user u
        left join role r on r.id = u.role_id
        where u.company_id = 0 or u.username = 'admin'
        order by u.create_time desc
    </select>

    <select id="listByGroupIds" resultType="com.dzkj.entity.system.User">
        select u.id, u.phone, u.app_id as appId, ug.group_id as groupId
        from user u
        left join user_group ug on u.id = ug.user_id
        where ug.group_id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByIdAndPhone" resultType="com.dzkj.entity.system.User">
        select u.*, c.name as companyName
        from user u
        left join company c on c.id = u.company_id
        where u.phone = #{user.phone}
        <if test="user.id != null">
            and u.id != #{user.id}
        </if>
        order by u.create_time desc
    </select>
</mapper>
